p {
    color: var(--color-09);
    text-align: justify;
}
h1, h2, h3, h4, h5, h6, strong {
    color: var(--color);
}
code {
    color: var(--primary);
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: var(--surface);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--on-surface);
    width: 10px;
    border: transparent;
}

:root {
    --transition: all .5s ease;
    --border-radius: 10px;
}

.negative-margin {
    margin: -10px;
}

a.primary-link, a.primary-link:visited {
    color: var(--primary);
    text-decoration: none;
    transition: var(--transition);
    font-weight: bold;
}

a.primary-link:hover {
    color: var(--primary-container);
}

.on-surface-link, .on-surface-link:visited {
    color: var(--color);
}
.on-surface-link:hover {
    color: var(--color-09);
}