$spacers: 4, 8, 12, 20, 24, 25, 40, 48, 100, 148, 200, 300, 400, 500, 600, 800, 1000;

@each $spacer in $spacers {
    .vertical-spacer-#{$spacer} {
        height: #{$spacer}px;
    }
    .horizontal-spacer-#{$spacer} {
        width: #{$spacer}px;
    }
}
