@import url(general.css);
@import url(theme.light.css);
@import url(theme.dark.css);

.surface {
    background-color: var(--surface);
    --color: var(--on-surface);
    --color-09: var(--on-surface-09);
}
.surface-variant {
    background-color: var(--surface-variant);
    --color: var(--on-surface-variant);
    --color-09: var(--on-surface-variant-09);
}
.primary {
    background-color: var(--primary);
    --color: var(--on-primary);
    --color-09: var(--on-primary-09);
}
.primary-container {
    background-color: var(--primary-container);
    --color: var(--on-primary-container);
    --color-09: var(--on-primary-container-09);
}
.secondary {
    background-color: var(--secondary);
    --color: var(--on-secondary);
    --color-09: var(--on-secondary-09);
}
.secondary-container {
    background-color: var(--secondary-container);
    --color: var(--on-secondary-container);
    --color-09: var(--on-secondary-container-09);
}
.error {
    background-color: var(--error);
    --color: var(--on-error);
    --color-09: var(--on-error-09);
}
.error-container {
    background-color: var(--error-container);
    --color: var(--on-error-container);
    --color-09: var(--on-error-container-09);
}