@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto';
}

#app {
    background-color: var(--surface);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, strong, a {
    color: var(--on-surface);
}

a {
    color: var(--primary);
    transition: var(--transition);
}
a:hover {
    opacity: 0.5;
}

p {
    color: var(--on-surface-09);
}
